input {
  height: 40px;
  width: 300px;
  border: 1px solid $gray;
  border-radius: 4px;
  font-size: 20px;
  padding: 8px;
  box-sizing: border-box;
}

button {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 4px;
  background-color: $action;
  font-size: 20px;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: $action-dark;
  }

  &.add {
    width: 50px;
  }
}